/* general and background*/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
body {
  margin: 0;
  color: #27272b;
  background-color: #e0e0e5 !important;
  font-family: Montserrat !important;
}
.achtergrond-donker {
  width: 100%;
  height: auto;
  background-color: #2e2e30;
}

/* navbar */

.nav {
  font-family: 'segoe ui';
  height: 6vh;
  width: 100%;
  color: white ;
  background-color: #2e2e30;
  position: relative;
  z-index: 999999;
  position: fixed;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* round image */

.round-image-container {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: contain;
  text-align: center;
  opacity: 0.7;
  margin: 4rem 0 4rem 0;
  border: solid 2px white;
}


.round-image-container p {
  font-size: 3rem;
  color: white;
  padding-top: 7rem;
  text-shadow: 2px 2px black;
}

.round-image-container:hover{
  opacity: 1;
  border: solid 4px white;
}

.round-image-flex{
  width: 100%;
  background-color: #2e2e30;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}
/* top page banner */


.text-block-banner {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-top: 50px;
}

.text-block-banner h1 {
  font-size: 50px;
  text-align: center;
}

.text-block-banner h2 {
  font-size: 40px;
  text-align: center;
}


.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 30px 40px 30px;

}

.page-banner{
  max-width: 100%;
  height: 100vh;
  background: url(images/roze_donker.png) center;
  background-size: cover;
}
.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: block; */
  background-color: rgba(0, 0, 0, 0.3);
}

.darken-with-text h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  color: white;
  padding-top: 300px;
  position: relative;
  z-index: 1;
}

.darken-with-text p {
  margin: 0;
  font-size: 2em;
  text-align: center;
  color: white;
  padding-top: 350px;
  position: relative;
  z-index: 1;
}

/* slider banner  */

.text-container{
  margin-top: 20px;
  height: 60vh;
  width: 50%;
  text-align: center;
}

.text-container h2 {
  font-size: 4rem;
}

.text-container h1 {
  font-size: 5rem;
}

.text-container p {
  padding-top: 2rem;
  font-size: 3rem;
}

.slider {
  max-width: 100%;
  height: 50vh;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  background: url(images/spiegel.jpeg)no-repeat center;
      background-size: cover;
    animation:fade 30s infinite;
-webkit-animation:fade 30s infinite;

}
.slide2 {
  background: url(images/deur.jpeg)no-repeat center ;
      background-size: cover;
    animation:fade2 30s infinite;
-webkit-animation:fade2 30s infinite;
}
.slide3 {
    background: url(images/cup.jpeg)no-repeat bottom;
      background-size: cover;
    animation:fade3 30s infinite;
-webkit-animation:fade3 30s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


/*buttons  */

.button-container{
    z-index: 999;
    height:20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-pink {
    margin-top: calc(70% + 25px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn-pink svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-pink svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn-pink span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-pink:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}


/* text and image section  */

.image-class {
  width: 100%;
  height: 68%;
  object-fit: cover;
}

.image-container{
  box-shadow: 7px 10px 3px 0px rgba(51,51,51,1);
  width: 430px;
  height: 430px;
  margin: 10px;
  background-color: #f2f2f7;
  color: #27272b;
}

.image-container a {
text-decoration: none;
}
.image-container:hover{
    box-shadow: 13px 15px 5px 0px rgba(51,51,51,1);

}

.card-title {
  text-align: center;
  padding: 0 10px 0 10px;
}

.image-only-card {
  width: 430px;
  height: 430px;
  border: solid 1px black;
  box-shadow: 7px 10px 3px 0px rgba(51,51,51,1)
}


.text-label{
  text-align: left;
  white-space: wrap;
  overflow: hidden;
  width: 430px;
  height: 120px;;
  padding: 0 10px 0 10px;
  text-overflow: ellipsis;
}

  .click-verder {
  text-align: center;
  font-size: 14px;
  }

  .text-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px 10px 30px;
    width: cover;
    height: auto;
    flex-wrap: wrap;
    font-size: 24px;
  }



.text-image {
  width: 60rem;
  height: auto;
}


.text-field {
  /* width: 600px; */
  padding: 0 10px 0 10px;
}

.text-field p,li {
  font-size: 24px;
}

.text-image-container p,li {
  font-size: 24px;
}

.header {
  text-align: center;
}

#margins_text{
  margin: 0 4rem 0 4rem;
}
